Introduction to Pandas üêº

In [1]:
import pandas as pd

Creating a DataFrame

In [3]:
# Sample data
import pandas as pd

df = pd.DataFrame({
    "country": ["Italy", "US", "France", "Italy", "Australia", "US", "Spain", "Italy", "France", "US"],
    "province": ["Tuscany", "California", "Bordeaux", "Sicily", "Barossa", "Oregon", "Rioja", "Piedmont", "Champagne", "Washington"],
    "title": ["Vino Nobile", "Napa Valley Red Blend", "Chateau du Test", "Nero d‚ÄôAvola",
              "Barossa Shiraz", "Willamette Pinot Noir", "Reserva Tempranillo",
              "Barolo", "Brut Blanc de Blancs", "Columbia Valley Chardonnay"],
    "points": [88, 92, 95, 90, 91, 89, 93, 97, 96, 87],
    "price": [15, 45, 80, 18, 35, 28, 22, 120, 16, 18]  
})

df

     country    province                       title  points  price
0      Italy     Tuscany                 Vino Nobile      88     15
1         US  California       Napa Valley Red Blend      92     45
2     France    Bordeaux             Chateau du Test      95     80
3      Italy      Sicily                Nero d‚ÄôAvola      90     18
4  Australia     Barossa              Barossa Shiraz      91     35
5         US      Oregon       Willamette Pinot Noir      89     28
6      Spain       Rioja         Reserva Tempranillo      93     22
7      Italy    Piedmont                      Barolo      97    120
8     France   Champagne        Brut Blanc de Blancs      96     16
9         US  Washington  Columbia Valley Chardonnay      87     18

Single column as a Series

In [ ]:
df["title"] # Accessing the 'title' column

0                   Vino Nobile
1         Napa Valley Red Blend
2               Chateau du Test
3                  Nero d‚ÄôAvola
4                Barossa Shiraz
5         Willamette Pinot Noir
6           Reserva Tempranillo
7                        Barolo
8          Brut Blanc de Blancs
9    Columbia Valley Chardonnay
Name: title, dtype: object

Selecting Multiple columns

In [ ]:
df[["country","province","title"]] # Accessing multiple columns

     country    province                       title
0      Italy     Tuscany                 Vino Nobile
1         US  California       Napa Valley Red Blend
2     France    Bordeaux             Chateau du Test
3      Italy      Sicily                Nero d‚ÄôAvola
4  Australia     Barossa              Barossa Shiraz
5         US      Oregon       Willamette Pinot Noir
6      Spain       Rioja         Reserva Tempranillo
7      Italy    Piedmont                      Barolo
8     France   Champagne        Brut Blanc de Blancs
9         US  Washington  Columbia Valley Chardonnay

Renaming Columns

In [ ]:
df.rename(columns={'country':'nation'}, inplace=True) # Renaming a column
df

      nation    province                       title  points  price
0      Italy     Tuscany                 Vino Nobile      88     15
1         US  California       Napa Valley Red Blend      92     45
2     France    Bordeaux             Chateau du Test      95     80
3      Italy      Sicily                Nero d‚ÄôAvola      90     18
4  Australia     Barossa              Barossa Shiraz      91     35
5         US      Oregon       Willamette Pinot Noir      89     28
6      Spain       Rioja         Reserva Tempranillo      93     22
7      Italy    Piedmont                      Barolo      97    120
8     France   Champagne        Brut Blanc de Blancs      96     16
9         US  Washington  Columbia Valley Chardonnay      87     18

Removing Columns

In [ ]:
df.drop("nation",axis=1, inplace=True) # Dropping a column

     province                       title  points  price
0     Tuscany                 Vino Nobile      88     15
1  California       Napa Valley Red Blend      92     45
2    Bordeaux             Chateau du Test      95     80
3      Sicily                Nero d‚ÄôAvola      90     18
4     Barossa              Barossa Shiraz      91     35
5      Oregon       Willamette Pinot Noir      89     28
6       Rioja         Reserva Tempranillo      93     22
7    Piedmont                      Barolo      97    120
8   Champagne        Brut Blanc de Blancs      96     16
9  Washington  Columbia Valley Chardonnay      87     18

Adding Columns

In [11]:
df['user-comments']=["Good wine","Excellent","Superb","Very good","Great value","Nice taste","Highly recommended","Outstanding","Crisp and refreshing","Decent"]
df

,nation,province,title,points,price,user-comments
0,Italy,Tuscany,Vino Nobile,88,15,Good wine
1,US,California,Napa Valley Red Blend,92,45,Excellent
2,France,Bordeaux,Chateau du Test,95,80,Superb
3,Italy,Sicily,Nero d‚ÄôAvola,90,18,Very good
4,Australia,Barossa,Barossa Shiraz,91,35,Great value
5,US,Oregon,Willamette Pinot Noir,89,28,Nice taste
6,Spain,Rioja,Reserva Tempranillo,93,22,Highly recommended
7,Italy,Piedmont,Barolo,97,120,Outstanding
8,France,Champagne,Brut Blanc de Blancs,96,16,Crisp and refreshing
9,US,Washington,Columbia Valley Chardonnay,87,18,Decent

. Sorting Values

In [ ]:
df.sort_values("price")# Sorting by price in ascending order

,nation,province,title,points,price,user-comments
0,Italy,Tuscany,Vino Nobile,88,15,Good wine
8,France,Champagne,Brut Blanc de Blancs,96,16,Crisp and refreshing
9,US,Washington,Columbia Valley Chardonnay,87,18,Decent
3,Italy,Sicily,Nero d‚ÄôAvola,90,18,Very good
6,Spain,Rioja,Reserva Tempranillo,93,22,Highly recommended
5,US,Oregon,Willamette Pinot Noir,89,28,Nice taste
4,Australia,Barossa,Barossa Shiraz,91,35,Great value
1,US,California,Napa Valley Red Blend,92,45,Excellent
2,France,Bordeaux,Chateau du Test,95,80,Superb
7,Italy,Piedmont,Barolo,97,120,Outstanding

In [ ]:
df.sort_values("price",ascending=False)# Sorting by price in descending order. ascending=False tells pandas to sort in descending order.

,nation,province,title,points,price,user-comments
7,Italy,Piedmont,Barolo,97,120,Outstanding
2,France,Bordeaux,Chateau du Test,95,80,Superb
1,US,California,Napa Valley Red Blend,92,45,Excellent
4,Australia,Barossa,Barossa Shiraz,91,35,Great value
5,US,Oregon,Willamette Pinot Noir,89,28,Nice taste
6,Spain,Rioja,Reserva Tempranillo,93,22,Highly recommended
9,US,Washington,Columbia Valley Chardonnay,87,18,Decent
3,Italy,Sicily,Nero d‚ÄôAvola,90,18,Very good
8,France,Champagne,Brut Blanc de Blancs,96,16,Crisp and refreshing
0,Italy,Tuscany,Vino Nobile,88,15,Good wine

Multiple columns

In [ ]:
df.sort_values(["price","points"],ascending=False) # Sorting by price and points in descending order.

,nation,province,title,points,price,user-comments
7,Italy,Piedmont,Barolo,97,120,Outstanding
2,France,Bordeaux,Chateau du Test,95,80,Superb
1,US,California,Napa Valley Red Blend,92,45,Excellent
4,Australia,Barossa,Barossa Shiraz,91,35,Great value
5,US,Oregon,Willamette Pinot Noir,89,28,Nice taste
6,Spain,Rioja,Reserva Tempranillo,93,22,Highly recommended
3,Italy,Sicily,Nero d‚ÄôAvola,90,18,Very good
9,US,Washington,Columbia Valley Chardonnay,87,18,Decent
8,France,Champagne,Brut Blanc de Blancs,96,16,Crisp and refreshing
0,Italy,Tuscany,Vino Nobile,88,15,Good wine

Filtering by condition

single condition

In [ ]:
df[df["points"]>80] # Filtering rows where points are greater than 80

,nation,province,title,points,price,user-comments
0,Italy,Tuscany,Vino Nobile,88,15,Good wine
1,US,California,Napa Valley Red Blend,92,45,Excellent
2,France,Bordeaux,Chateau du Test,95,80,Superb
3,Italy,Sicily,Nero d‚ÄôAvola,90,18,Very good
4,Australia,Barossa,Barossa Shiraz,91,35,Great value
5,US,Oregon,Willamette Pinot Noir,89,28,Nice taste
6,Spain,Rioja,Reserva Tempranillo,93,22,Highly recommended
7,Italy,Piedmont,Barolo,97,120,Outstanding
8,France,Champagne,Brut Blanc de Blancs,96,16,Crisp and refreshing
9,US,Washington,Columbia Valley Chardonnay,87,18,Decent

Multiple conditions -AND

In [ ]:
df[(df["user-comments"]=="Excellent") & (df["user-comments"]=="Outstanding")] # This will return an empty DataFrame since no entry can be both "Excellent" and "Outstanding" at the same time.

Empty DataFrame
Columns: [nation, province, title, points, price, user-comments]
Index: []

OR

In [ ]:
df[(df["user-comments"]=="Excellent") | (df["user-comments"]=="Outstanding")]  # Filtering rows where user-comments is either "Excellent" or "Outstanding"

  nation    province                  title  points  price user-comments
1     US  California  Napa Valley Red Blend      92     45     Excellent
7  Italy    Piedmont                 Barolo      97    120   Outstanding