Introduction to Pandas üêº

In [1]:
import pandas as pd

Creating a DataFrame

In [6]:
# Sample data
import pandas as pd

reviews = pd.DataFrame({
    "country": ["Italy", "US", "France", "Italy", "Australia", "US", "Spain", "Italy", "France", "US"],
    "province": ["Tuscany", "California", "Bordeaux", "Sicily", "Barossa", "Oregon", "Rioja", "Piedmont", "Champagne", "Washington"],
    "title": ["Vino Nobile", "Napa Valley Red Blend", "Chateau du Test", "Nero d‚ÄôAvola",
              "Barossa Shiraz", "Willamette Pinot Noir", "Reserva Tempranillo",
              "Barolo", "Brut Blanc de Blancs", "Columbia Valley Chardonnay"],
    "points": [88, 92, 95, 90, 91, 89, 93, 97, 96, 87],
    "price": [15, 45, 80, 18, 35, 28, 22, 120, 16, 18]  
})

reviews

     country    province                       title  points  price
0      Italy     Tuscany                 Vino Nobile      88     15
1         US  California       Napa Valley Red Blend      92     45
2     France    Bordeaux             Chateau du Test      95     80
3      Italy      Sicily                Nero d‚ÄôAvola      90     18
4  Australia     Barossa              Barossa Shiraz      91     35
5         US      Oregon       Willamette Pinot Noir      89     28
6      Spain       Rioja         Reserva Tempranillo      93     22
7      Italy    Piedmont                      Barolo      97    120
8     France   Champagne        Brut Blanc de Blancs      96     16
9         US  Washington  Columbia Valley Chardonnay      87     18

1. **Attribute Access & Basic Indexing**

How do you access the country column using attribute access and indexing access?

In [ ]:
reviews.country #attribute accessing

0        Italy
1           US
2       France
3        Italy
4    Australia
5           US
6        Spain
7        Italy
8       France
9           US
Name: country, dtype: object

In [16]:
reviews.iloc[:,0] #indexing accessing

0        Italy
1           US
2       France
3        Italy
4    Australia
5           US
6        Spain
7        Italy
8       France
9           US
Name: country, dtype: object

Why is using df.country sometimes unsafe? Give an example.

Using `df.column` is sometimes unsafe because it can fail if the column name has spaces, special characters, or conflicts with a DataFrame method.
for example if the column name is 'republican countries' you cannot use reviews.republican countries instead you have to use reviews['republican countries']

Write a line of code to get the first 3 rows of a DataFrame using basic indexing ([]).

In [12]:
reviews[:3] #first three rows

  country    province                  title  points  price
0   Italy     Tuscany            Vino Nobile      88     15
1      US  California  Napa Valley Red Blend      92     45
2  France    Bordeaux        Chateau du Test      95     80

**2. Understanding loc**

Using loc, select the row where the index label is 9

In [18]:
reviews.loc[9]

country                             US
province                    Washington
title       Columbia Valley Chardonnay
points                              87
price                               18
Name: 9, dtype: object

Select the rows with index labels 0, 5, and 9, and only the columns country and points.

In [20]:
reviews.loc[[0,5,9],["country","points"]]

  country  points
0   Italy      88
5      US      89
9      US      87

Write code using loc to select all Italian wines from the DataFrame.

In [21]:
reviews

     country    province                       title  points  price
0      Italy     Tuscany                 Vino Nobile      88     15
1         US  California       Napa Valley Red Blend      92     45
2     France    Bordeaux             Chateau du Test      95     80
3      Italy      Sicily                Nero d‚ÄôAvola      90     18
4  Australia     Barossa              Barossa Shiraz      91     35
5         US      Oregon       Willamette Pinot Noir      89     28
6      Spain       Rioja         Reserva Tempranillo      93     22
7      Italy    Piedmont                      Barolo      97    120
8     France   Champagne        Brut Blanc de Blancs      96     16
9         US  Washington  Columbia Valley Chardonnay      87     18

In [23]:
reviews.loc[reviews["country"] == "Italy"]

  country  province         title  points  price
0   Italy   Tuscany   Vino Nobile      88     15
3   Italy    Sicily  Nero d‚ÄôAvola      90     18
7   Italy  Piedmont        Barolo      97    120

**3 Understanding iloc**

Using iloc, select the first row.

In [24]:
reviews.iloc[0] #first row accessing

country           Italy
province        Tuscany
title       Vino Nobile
points               88
price                15
Name: 0, dtype: object

Select rows at positions 0, 2, and 4, and columns at positions 1 and 3.

In [25]:
reviews.iloc[[0,2,4],[1,3]] #specific rows and columns

   province  points
0   Tuscany      88
2  Bordeaux      95
4   Barossa      91

**4. Conditional Selection**

Select all rows where points is greater than 90.

In [26]:
reviews[reviews["points"] > 90]

     country    province                  title  points  price
1         US  California  Napa Valley Red Blend      92     45
2     France    Bordeaux        Chateau du Test      95     80
4  Australia     Barossa         Barossa Shiraz      91     35
6      Spain       Rioja    Reserva Tempranillo      93     22
7      Italy    Piedmont                 Barolo      97    120
8     France   Champagne   Brut Blanc de Blancs      96     16

Select all rows where country is either France or Italy

In [27]:
reviews[(reviews["country"]=="France") | (reviews["country"]=="Italy")]

  country   province                 title  points  price
0   Italy    Tuscany           Vino Nobile      88     15
2  France   Bordeaux       Chateau du Test      95     80
3   Italy     Sicily          Nero d‚ÄôAvola      90     18
7   Italy   Piedmont                Barolo      97    120
8  France  Champagne  Brut Blanc de Blancs      96     16

**Challenge Questions**

Write code that selects the top 3 cheapest Italian wines sorted by price.

In [30]:
r= reviews[reviews.country=="Italy"].sort_values("price")
r.head(3)

  country  province         title  points  price
0   Italy   Tuscany   Vino Nobile      88     15
3   Italy    Sicily  Nero d‚ÄôAvola      90     18
7   Italy  Piedmont        Barolo      97    120

Select the last 4 rows of the DataFrame using only iloc.

In [33]:
reviews.iloc[-5:-1]

  country   province                  title  points  price
5      US     Oregon  Willamette Pinot Noir      89     28
6   Spain      Rioja    Reserva Tempranillo      93     22
7   Italy   Piedmont                 Barolo      97    120
8  France  Champagne   Brut Blanc de Blancs      96     16