Introduction to Pandas üêº

# **PRACTICE QUESTIONS**

Pandas Queries & Data Manipulation Tasks

In [1]:
import pandas as pd

df = pd.DataFrame({
    "festival": ["Carnival", "Oktoberfest", "La Tomatina", "Rio New Year", "Harbin Ice Festival", "Lantern Festival", "Cherry Blossom Festival", "Dia de los Muertos"],
    "country": ["Brazil", "Germany", "Spain", "Brazil", "China", "China", "Japan", "Mexico"],
    "month": ["February", "September", "August", "January", "January", "February", "April", "November"],
    "theme": ["Parade", "Beer Celebration", "Tomato Fight", "Fireworks", "Ice Sculptures", "Lanterns", "Nature", "Tradition"],
    "popularity_score": [98, 95, 88, 92, 90, 85, 89, 91]
})

In [2]:
df

,festival,country,month,theme,popularity_score
0,Carnival,Brazil,February,Parade,98
1,Oktoberfest,Germany,September,Beer Celebration,95
2,La Tomatina,Spain,August,Tomato Fight,88
3,Rio New Year,Brazil,January,Fireworks,92
4,Harbin Ice Festival,China,January,Ice Sculptures,90
5,Lantern Festival,China,February,Lanterns,85
6,Cherry Blossom Festival,Japan,April,Nature,89
7,Dia de los Muertos,Mexico,November,Tradition,91

1. Select all festivals in China.

In [3]:
df[df["country"]=="China"]

              festival country     month           theme  popularity_score
4  Harbin Ice Festival   China   January  Ice Sculptures                90
5     Lantern Festival   China  February        Lanterns                85

2 Sort festivals by popularity (descending)

In [5]:
df.sort_values("popularity_score",ascending=False)

,festival,country,month,theme,popularity_score
0,Carnival,Brazil,February,Parade,98
1,Oktoberfest,Germany,September,Beer Celebration,95
3,Rio New Year,Brazil,January,Fireworks,92
7,Dia de los Muertos,Mexico,November,Tradition,91
4,Harbin Ice Festival,China,January,Ice Sculptures,90
6,Cherry Blossom Festival,Japan,April,Nature,89
2,La Tomatina,Spain,August,Tomato Fight,88
5,Lantern Festival,China,February,Lanterns,85

3 Show festival and theme columns only.

In [7]:
df.loc[:,["festival","theme"]]

                  festival             theme
0                 Carnival            Parade
1              Oktoberfest  Beer Celebration
2              La Tomatina      Tomato Fight
3             Rio New Year         Fireworks
4      Harbin Ice Festival    Ice Sculptures
5         Lantern Festival          Lanterns
6  Cherry Blossom Festival            Nature
7       Dia de los Muertos         Tradition

4 Filter festivals in Brazil or Japan.

In [8]:
df[df.country.isin(['Brazil','Japan'])]

                  festival country     month      theme  popularity_score
0                 Carnival  Brazil  February     Parade                98
3             Rio New Year  Brazil   January  Fireworks                92
6  Cherry Blossom Festival   Japan     April     Nature                89

5. Find the most popular festival.

In [9]:
df.sort_values('popularity_score',ascending=False).head(1)

   festival country     month   theme  popularity_score
0  Carnival  Brazil  February  Parade                98

6. Count how many festivals fall under each "theme".

In [10]:
df.value_counts('theme')

theme
Beer Celebration    1
Fireworks           1
Ice Sculptures      1
Lanterns            1
Nature              1
Parade              1
Tomato Fight        1
Tradition           1
Name: count, dtype: int64

7.Check festivals where the theme contains "Lantern".

In [11]:
df[df.theme.str.contains('Lantern')]

           festival country     month     theme  popularity_score
5  Lantern Festival   China  February  Lanterns                85

8. Select rows 2 to 5 using iloc

In [13]:
df.iloc[2:6]

              festival country     month           theme  popularity_score
2          La Tomatina   Spain    August    Tomato Fight                88
3         Rio New Year  Brazil   January       Fireworks                92
4  Harbin Ice Festival   China   January  Ice Sculptures                90
5     Lantern Festival   China  February        Lanterns                85

9. Select festival names where popularity > 90.

In [14]:
df[df["popularity_score"]>90]

             festival  country      month             theme  popularity_score
0            Carnival   Brazil   February            Parade                98
1         Oktoberfest  Germany  September  Beer Celebration                95
3        Rio New Year   Brazil    January         Fireworks                92
7  Dia de los Muertos   Mexico   November         Tradition                91

10. Get unique countries.

In [15]:
df.country.unique()

array(['Brazil', 'Germany', 'Spain', 'China', 'Japan', 'Mexico'],
      dtype=object)